<section class="facts-section">
    <div class="facts-container">
        <article class="moto" #moto>
            <h2 class="heading-2">{{ 'facts.title' | translate }}
                <span #motoItalic class="italic">
                    <span class="letter" #letter>p</span>
                    <span class="letter" #letter>o</span>
                    <span class="letter" #letter>s</span>
                    <span class="letter" #letter>i</span>
                    <span class="letter" #letter>t</span>
                    <span class="letter" #letter>i</span>
                    <span class="letter" #letter>v</span>
                    <span class="letter" #letter>e</span>
                    <span class="letter" #letter>&nbsp;</span>
                    <span class="letter" #letter>m</span>
                    <span class="letter" #letter>a</span>
                    <span class="letter" #letter>r</span>
                    <span class="letter" #letter>k</span>
                    <span class="letter" #letter>e</span>
                    <span class="letter" #letter>t</span>
                    <span class="letter" #letter>i</span>
                    <span class="letter" #letter>n</span>
                    <span class="letter" #letter>g</span>
                </span>.
            </h2>
        </article>
        <div #articlesWrapper class="articles-wrapper">
            <article class="fact">
                <p class="heading" #heading>
                    <span class="numSpan" appIncrementCount="500">100</span>
                    <span>K</span>
                </p>
                <p class="text">{{ 'facts.fact1.text' | translate }}</p>
            </article>
            <article class="fact">
                <p class="heading">
                    <span class="numSpan" appIncrementCount="8">8</span>
                    <span>.0/ROAS</span>
                </p>
                <p class="sub-heading">{{ 'facts.fact2.subheading' | translate }}</p>
                <p class="text">{{ 'facts.fact2.text' | translate }}.</p>
            </article>
            <article class="fact">
                <p class="heading">
                    <span class="numSpan" appIncrementCount="25">000</span>
                    <span>К</span>
                </p>
                <p class="sub-heading">{{ 'facts.fact3.subheading' | translate }}</p>
                <p class="text">{{ 'facts.fact3.text' | translate }}</p>
            </article>
            <article class="fact">
                <p class="heading">
                    <span class="numSpan" appIncrementCount="100">0</span>
                    <span>+</span>
                </p>
                <p class="sub-heading">{{ 'facts.fact4.subheading' | translate }}</p>
                <p class="text">{{ 'facts.fact4.text' | translate }}</p>
            </article>
        </div>
    </div>
    <div class="vertical-line"></div>
</section>