<section class="steps-section" [ngClass]="{ 'bg-font': isBulgarian }">
    <h2 class="heading-2">{{ 'steps.title' | translate }}</h2>
    <div class="mobile">
      <ul class="steps">
        <li class="step step-1">
          1
        </li>
        <li class="step-view">
          <p class="step-title">{{ 'steps.step1.title' | translate }}</p>
          <p class="step-explanation">{{ 'steps.step1.explanation' | translate }}</p>
        </li>
        <li class="step step-2">
          2
        </li>
        <li class="step-view">
          <p class="step-title">{{ 'steps.step2.title' | translate }}</p>
          <p class="step-explanation">{{ 'steps.step2.explanation' | translate }}</p>
        </li>
        <li class="step step-3">
          3
        </li>
        <li class="step-view">
          <p class="step-title">{{ 'steps.step3.title' | translate }}</p>
          <p class="step-explanation">{{ 'steps.step3.explanation' | translate }}</p>
        </li>
        <li class="step step-4">
          4
        </li>
        <li class="step-view">
          <p class="step-title">{{ 'steps.step4.title' | translate }}</p>
          <p class="step-explanation">{{ 'steps.step4.explanation' | translate }}</p>
        </li>
      </ul>
    </div>
  </section>
  