<header class="header-mobile">
    <div class="logo-container">
        <a href="" id="logo">
            <img src="assets/images/WM-logo.png" alt="Wild Marketing Agency Logo">
        </a>
    </div>
    <a class="menu-toggle" (click)="toggleNav($event)">
        <img src="assets/images/menu-icon.png" alt="Menu">
    </a>
    <nav class="nav" [ngClass]="{ 'nav-open': isNavOpen }">
        <ul>
            <li><button (click)="scrollTo('about-us')">{{ 'header.aboutUs' |
                    translate }}</button></li>
            <li><button (click)="scrollTo('our-services')">{{
                    'header.ourServices' | translate }}</button></li>
            <li><button (click)="scrollTo('contact-us')">{{ 'header.contactUs' | translate }}</button></li>
        </ul>
    </nav>
    <div class="close-icon-container" *ngIf="isNavOpen" (click)="toggleNav()">
        <button><img src="assets/images/close-menu.png" alt=""></button>
    </div>
</header>
<div class="container-lng">
    <div class="language-selector">
        <button (click)="changeLanguage('en')">{{ 'languageSelector.english' | translate }}</button>
        <button (click)="changeLanguage('bg')">{{ 'languageSelector.bulgarian' | translate }}</button>
    </div>
</div>