.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

.logo-container {
    width: 120px;
}

.nav ul {
    display: flex;
    gap: 2rem;
    font-weight: 500;
}

.nav ul li {
    transition: color 0.5s ease, text-decoration-color 0.5s ease;
}

.nav ul li:hover {
    color: green;
    text-decoration: underline;
    text-decoration-color: green;
}

.language-selector button {
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: var(--main-font-color);
    padding: 0.7rem;
    margin: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.language-selector button:hover {
    background-color: rgba(17, 84, 16, 0.352);
}

@media screen and (min-width:2000px) {
    .logo-container {
        width: 320px;
    }

    .language-selector button,
    .nav ul li {
        font-size: 2.2rem;
        padding: 1.4rem;
    }
}