<section class="services-section">
    <h2 class="heading-2" #heading2>
        {{ 'services.heading' | translate }}
    </h2>
    <div class="solutions-wrapper">
        <div class="content-container">
            <div class="animation-square"></div>
            <div class="image-container">
                <img src="assets/images/chameleon.png" alt="">
            </div>
            <div class="text-container">
                <h4 class="heading-4">{{ 'services.brandAwarenessTitle' | translate }}</h4>
                <p class="animated-text" #animatedElement>{{ 'services.brandAwarenessDesc' | translate }}</p>
            </div>
        </div>
        <div class="content-container">
            <div class="animation-square"></div>
            <div class="image-container">
                <img src="assets/images/lion.png" alt="">
            </div>
            <div class="text-container">
                <h4 class="heading-4">{{ 'services.leadGenerationTitle' | translate }}</h4>
                <p class="animated-text" #animatedElement>{{ 'services.leadGenerationDesc' | translate }}</p>
            </div>
        </div>
        <div class="content-container">
            <div class="animation-square"></div>
            <div class="image-container">
                <img src="assets/images/deer.png" alt="">
            </div>
            <div class="text-container">
                <h4 class="heading-4">{{ 'services.contentCreationTitle' | translate }}</h4>
                <p class="animated-text" #animatedElement>{{ 'services.contentCreationDesc' | translate }}</p>
            </div>
        </div>
        <div class="content-container">
            <div class="animation-square"></div>
            <div class="image-container">
                <img src="assets/images/giraffe.png" alt="">
            </div>
            <div class="text-container">
                <h4 class="heading-4">{{ 'services.performanceMarketingTitle' | translate }}</h4>
                <p class="animated-text" #animatedElement>{{ 'services.performanceMarketingDesc' | translate }}</p>
            </div>
        </div>
        <div class="content-container">
            <div class="animation-square"></div>
            <div class="image-container">
                <img src="assets/images/elephant.png" alt="">
            </div>
            <div class="text-container">
                <h4 class="heading-4">{{ 'services.emailMarketingTitle' | translate }}</h4>
                <p class="animated-text" #animatedElement>{{ 'services.emailMarketingDesc' | translate }}</p>
            </div>
        </div>
        <div class="content-container">
            <div class="animation-square"></div>
            <div class="image-container">
                <img src="assets/images/fox.png" alt="">
            </div>
            <div class="text-container">
                <h4 class="heading-4">{{ 'services.marketingStrategyTitle' | translate }}</h4>
                <p class="animated-text" #animatedElement>{{ 'services.marketingStrategyDesc' | translate }}</p>
            </div>
        </div>
    </div>
</section>