<section class="services-section">
    <h2 class="heading-2">
        What can we do for you?
    </h2>
    <div class="solutions-wrapper">
    <div class="content-container">
        <div class="image-container">
            <img src="assets/images/icon-puma.png" alt="">
        </div>
        <div class="text-container">
            <h4 class="heading-4">Brand Awareness</h4>
            <p>Looking for results that matter? We bring expertise, creativity, and a personal touch to deliver services
                tailored to your needs. Elevate your experience and watch your goals turn into reality.</p>
        </div>
    </div>
    <div class="content-container">
        <div class="image-container">
            <img src="assets/images/icon-zebra.png" alt="">
        </div>
        <div class="text-container">
            <h4 class="heading-4">Lead Generation</h4>
            <p>Ready to grow your customer base? Our lead generation services are designed to attract, engage, and
                convert. We target the right audience, capture high-quality leads, and help you turn prospects into
                loyal customers.</p>
        </div>
    </div>
    <div class="content-container">
        <div class="image-container">
            <img src="assets/images/icon-zebra.png" alt="">
        </div>
        <div class="text-container">
            <h4 class="heading-4">Content Creation</h4>
            <p>Ready to grow your customer base? Our lead generation services are designed to attract, engage, and
                convert. We target the right audience, capture high-quality leads, and help you turn prospects into
                loyal customers.</p>
        </div>
    </div>
    <div class="content-container">
        <div class="image-container">
            <img src="assets/images/icon-zebra.png" alt="">
        </div>
        <div class="text-container">
            <h4 class="heading-4">PPC Marketing</h4>
            <p>Looking for measurable growth? Our performance marketing services focus on data-driven strategies that
                deliver results. We optimize your campaigns across channels, ensuring every ad spend drives conversions
                and maximizes your ROI.</p>
        </div>
    </div>
    <div class="content-container">
        <div class="image-container">
            <img src="assets/images/icon-zebra.png" alt="">
        </div>
        <div class="text-container">
            <h4 class="heading-4">Email Marketing</h4>
            <p>Stay top-of-mind with your audience. Our email marketing services craft personalized campaigns that
                nurture relationships, increase engagement, and drive sales. From automation to segmentation, we help
                you turn subscribers into loyal customers.</p>
        </div>
    </div>
    <div class="content-container">
        <div class="image-container">
            <img src="assets/images/icon-zebra.png" alt="">
        </div>
        <div class="text-container">
            <h4 class="heading-4">Marketing Strategy</h4>
            <p>Without a clear strategy, even the best ideas fall short. Our marketing strategy services provide a
                tailored roadmap to guide your business toward growth. From market research to execution, we create a
                plan that aligns with your goals and maximizes your impact.</p>
        </div>
    </div>
</div>
</section>